@import url("https://fonts.googleapis.com/css2?family=Gabarito:wght@800&family=Inter:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gabarito:wght@800&family=Inter:wght@400;500&family=Lato&display=swap");

body {
  margin: 0px;
  font-family: "Lato", sans-serif;
  background-color: $offWhite;
}
#root {
  text-align: center;
}

.main-wrapper {
  width: 100vw;
  height: 150vh;
  display: grid;
  grid-template-columns: 80px 1fr;
  position: fixed;
}

// general styles

.title {
  text-align: left;
  font-weight: bold;
  font-size: 2em;
  line-height: 2.5em;
  font-family: "Gabarito", sans-serif;
}

.home {
  display: grid;
  grid-template-columns: 280px 1fr;
}

.input {
  height: 2em;
  border: none;
  background-color: $lightGrey;
  border-radius: 0.75em;
  padding: 0.3em;
  padding-left: 1em;
  outline: none;
  font-family: "Lato", sans-serif;
}

.chat-wrapper {
  display: grid;
  height: 100vh;
  grid-template-rows: 4rem 10fr 4rem;
}

.chat-top-bar {
  border-bottom: 1px solid $outline;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.chatbox-wrapper {
  border-top: 1px solid $outline;
}

.chatBox {
  width: calc(100% - 2rem);
  height: 100%;
  display: grid;
  grid-template-columns: 8fr 1fr;
  gap: 0.25rem;
  align-items: center;
  padding: 0rem 1rem;
}

.chat-input {
  height: calc(60% - 0.5rem);
  margin: 0px;
  padding: 0.25rem;
  padding-left: 0.5rem;
  border: 2px solid white;
  border-radius: 0.75rem;
  font-size: 1.1em;
  &:focus {
    border: 2px solid $accent;
  }
}

.chat-button {
  border: none;
  border-radius: 0.75rem;
  background-color: $button;
  height: 60%;
  font-weight: bold;
  font-size: 1em;
  color: white;
  transition: 0.05s;
  &:hover {
    cursor: pointer;
    color: $buttonTransition;
  }
}

.chat-close {
  cursor: pointer;
  color: $messageGrey;
  &:hover {
    color: $accent;
  }
}
