.chat-wrapper {
  display: grid;
  height: 100vh;
  grid-template-rows: 4rem 10fr 4rem;
  max-width: 100%;
}

.chat-top-bar {
  border-bottom: 1px solid $outline;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  overflow: hidden;
}

.chatbox-wrapper {
  border-top: 1px solid $outline;
}

.chatBox {
  // width: calc(100% - 2rem);
  height: 100%;
  display: grid;
  grid-template-columns: 8fr 1fr;
  gap: 0.25rem;
  align-items: center;
  padding: 0rem 1rem;
}

.chat-input {
  height: calc(60% - 0.5rem);
  margin: 0px;
  padding: 0.25rem;
  padding-left: 0.5rem;
  border: 2px solid white;
  border-radius: 0.75rem;
  font-size: 1.1em;
  &:focus {
    border: 2px solid $accent;
  }
}

.chat-button {
  border: none;
  border-radius: 0.75rem;
  background-color: $accent;
  height: 60%;
  font-weight: bold;
  font-size: 1em;
  color: white;
  transition: 0.05s;
  &:hover {
    cursor: pointer;
    color: $buttonTransition;
  }
}

.chat-close {
  cursor: pointer;
  color: $messageGrey;
  &:hover {
    color: $accent;
  }
}

.chat-flex {
  display: flex;
  grid-template-rows: 1fr 1fr;
  align-items: center;
}

.chat-flex-grey {
  justify-content: left;
}

.chat-flex-blue {
  justify-content: right;
}
.chat-message {
  color: white;
  padding: 0.7em;
  padding-bottom: 0.7em;
  text-align: left;
  border-radius: 0.75em;
  margin: 0.1em 0.5em;
  font-size: 1.1em;
  word-wrap: break-word;
  overflow-wrap: break-word;
  text-wrap: wrap;
  max-width: 60%;
}
.blue-message {
  background-color: blue;
}

.grey-message {
  background-color: grey;
}

.chat-messages-wrapper {
  padding: 1em;
  max-width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

.chat-profile-pic {
  height: 45px;
  width: 45px;
  border-radius: 50%;
  object-fit: cover;
  transform: translateY(-20px);
}

.chat-message-wrapper {
  display: flex;
  flex-direction: column;
}

.message-header {
  font-weight: bold;
  margin-top: 1em;
  margin-bottom: 0.3em;
  margin-right: 55px;
  margin-left: 55px;
}

.white-space-no-pfp {
  width: 45px;
}
