$outline: #a0aaaa;
$shadow: #3c3f4a70;
$icon: #36454f;
$iconTransition: #040430;
$background: #1b4965;
$light: #cae9ff;
$accent: #5fa8d3;
$offWhite: #fffafa;
$lightGrey: #d3d3d3;
$button: #00ccff;
$textGrey: #a3a3a3;
