.messagelist-wrapper {
  height: calc(100% - 4em);
  padding: 2em;
  border-right: 1px solid $lightGrey;
  position: sticky;
  top: 0;
  z-index: 1;
}

.top-bar {
  display: flex;
  height: 5rem;
  justify-content: space-between;
  align-items: center;
  .icon {
    font-size: 1.5rem;
    :hover {
      color: $accent;
    }
  }
}

.message-divider {
  width: 90%;
  border-bottom: 2px solid $lightGrey;
  margin-bottom: 2rem;
}

.message {
  display: grid;
  grid-template-columns: 40px 1fr;
  gap: 1rem;
  width: 100%;
  height: 60px;
  text-align: left;
  cursor: pointer;
  .person-name {
    font-weight: bold;
  }
  .message-profile-pic {
    width: 100%;
    height: 40px;
    border-radius: 50%;
    background-color: $lightGrey;

    img {
      width: 100%;
      height: 100%;
      border-radius: 50%;
      object-fit: cover;
    }
  }
  .text {
    color: $messageGrey;
  }
}
